@import "reset";
@import "vars";
@import "mixins";

body {
    margin: 0;
    font-family: Arial;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}

h1 {
    color: $H1Color;
    font-size: $H1Size;
}

h2 {
    color: $H2Color;
    font-size: $H2Size;
}

h3 {
    color: $H2Color;
    font-size: $H3Size;
}

h4 {
    color: $H4Color;
    font-size: $H4Size;
}

//HEADER & NAVIGATION
header {
    background-color: $BgColor;

    nav {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    .header__logo {
        height: 40px;
    }

    nav ul {
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        font-size: 20px;
        display: flex;
        align-items: end;

        li {
            margin-left: 30px;
        }

        a {
            text-decoration: none;
            color: $LightFontColor;
        }

        .nav__link {
            color: $H2Color;
        }

        .nav__link:hover {
            color: $H1Color;
            text-shadow: 0px 0px 5px $H2Color;
        }
    }
}

//HERO
.hero {
    background-color: $BgColor;
    color: $LightFontColor;
    height: 100vh;
    margin-bottom: 80px;
}

.hero__text {
    max-width: 600px;
    padding-top: 200px;

    h1 {
        margin-bottom: 20px;
    }

    p {
        font-size: $pSize;
        line-height: 1.5;
    }
}

//PRODUCTS FRONTPAGE
.products__overview {
    display: flex;
    flex-wrap: wrap;
}

.product__container {
    height: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0px rgba(146,36,182,0.2);
    position: relative;

    ul {
        padding-left: 20px;
    }

    li {
        color: #866F9E;
        font-size: $pSize;
        margin-bottom: 10px;
    }

    li::marker {
        color: #F2F2FF;
    }

    a {
        text-decoration: none;
    }

    .button {
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
    }

    .button p {
        padding: 20px;
        text-align: center;
        background-color: $BtnLightColor;
        border-radius: 10px;
        font-weight: bold;
        color: $H2Color;

        i {
            color: #9B689E;
            font-weight: normal;
        }

        .moms {
            font-size: 14px;
        }
    }
}

.products__contact {
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: $pSize;
    color: #674E68;

    p {
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .contact__button {
        @include buttonPrimary();
    }

    .contact__button:hover {
        background-color: $H1Color;
    }
}

//FOOTER
footer {
    background-color: $FooterBgColor;
    color: $FooterFontColor;
    margin-top: 100px;

    .footer__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px 0;
        font-size: 20px;

        a {
            text-decoration: none;
            color: inherit;
        }

        .footer__logo {
            display: flex;
            align-items: end;
        }
    }
}



.signin {
    background-color: $BgColor;
    height: 650px;
    position: relative;

    .signin__title {
        position: absolute;
        text-align: center;
        margin: 40px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    a {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        text-decoration: none;
        color: $LightFontColor;
        font-size: 20px;
    }

    .signup__link {
        bottom: 75px;
    }

    .forgot__link {
        bottom: 50px;
    }
}
//SIGNIN FORM
.signin__wrapper {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
    width: 400px;
    height: 350px;
    background-color: white;
    border-radius: 10px;

    label {
        display: inline-block;
        color: #A28DA3;
        font-size: $pSize;
    }

    input {
        width: 100%;
        margin: 8px 0px 20px 0px;
        padding: 15px 0 15px 10px;
        box-sizing: border-box;
        border-radius: 10px;
        border: none;
        background-color: #F5EFF5;
        font-size: $pSize;
        color: $H2Color;
    }

    .checkbox {
        text-align: center;
        margin-left: -100px;
    }

    .checkbox label {
        display: inline-block;
        padding-right: 10px;
        white-space: nowrap;
        width: 15px;
        border-radius: 5px;
        border-color: #A28DA3;
    }

    .checkbox input {
        border-radius: 5px;
        border-color: #A28DA3;
    }


    .signin__email, .signin__password {
        margin: 0;
    }

    .signin__title {
        padding-bottom: 20px;
    }

    .signin__button {
        @include buttonPrimary();
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    .signin__button:hover {
        background-color: $H1Color;
    }
}