h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: Arial; }

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px; }

h1 {
  color: #47054A;
  font-size: 80px; }

h2 {
  color: #5C245F;
  font-size: 40px; }

h3 {
  color: #5C245F;
  font-size: 30px; }

h4 {
  color: #BAB2BB;
  font-size: 30px; }

header {
  background-color: #BE9BC0; }
  header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 30px; }
  header .header__logo {
    height: 40px; }
  header nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    font-size: 20px;
    display: flex;
    align-items: end; }
    header nav ul li {
      margin-left: 30px; }
    header nav ul a {
      text-decoration: none;
      color: #FEE7FF; }
    header nav ul .nav__link {
      color: #5C245F; }
    header nav ul .nav__link:hover {
      color: #47054A;
      text-shadow: 0px 0px 5px #5C245F; }

.hero {
  background-color: #BE9BC0;
  color: #FEE7FF;
  height: 100vh;
  margin-bottom: 80px; }

.hero__text {
  max-width: 600px;
  padding-top: 200px; }
  .hero__text h1 {
    margin-bottom: 20px; }
  .hero__text p {
    font-size: 16px;
    line-height: 1.5; }

.products__overview {
  display: flex;
  flex-wrap: wrap; }

.product__container {
  height: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgba(146, 36, 182, 0.2);
  position: relative; }
  .product__container ul {
    padding-left: 20px; }
  .product__container li {
    color: #866F9E;
    font-size: 16px;
    margin-bottom: 10px; }
  .product__container li::marker {
    color: #F2F2FF; }
  .product__container a {
    text-decoration: none; }
  .product__container .button {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%; }
  .product__container .button p {
    padding: 20px;
    text-align: center;
    background-color: #F5EFF5;
    border-radius: 10px;
    font-weight: bold;
    color: #5C245F; }
    .product__container .button p i {
      color: #9B689E;
      font-weight: normal; }
    .product__container .button p .moms {
      font-size: 14px; }

.products__contact {
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 16px;
  color: #674E68; }
  .products__contact p {
    line-height: 1.5;
    margin-bottom: 30px; }
  .products__contact .contact__button {
    border-radius: 50px;
    padding: 15px 30px;
    background-color: #AA81AC;
    color: white;
    font-size: 20px;
    border: none;
    text-decoration: none;
    text-align: center; }
  .products__contact .contact__button:hover {
    background-color: #47054A; }

footer {
  background-color: #5C245F;
  color: #AA81AC;
  margin-top: 100px; }
  footer .footer__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 0;
    font-size: 20px; }
    footer .footer__content a {
      text-decoration: none;
      color: inherit; }
    footer .footer__content .footer__logo {
      display: flex;
      align-items: end; }

.signin {
  background-color: #BE9BC0;
  height: 650px;
  position: relative; }
  .signin .signin__title {
    position: absolute;
    text-align: center;
    margin: 40px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .signin a {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    text-decoration: none;
    color: #FEE7FF;
    font-size: 20px; }
  .signin .signup__link {
    bottom: 75px; }
  .signin .forgot__link {
    bottom: 50px; }

.signin__wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  width: 400px;
  height: 350px;
  background-color: white;
  border-radius: 10px; }
  .signin__wrapper label {
    display: inline-block;
    color: #A28DA3;
    font-size: 16px; }
  .signin__wrapper input {
    width: 100%;
    margin: 8px 0px 20px 0px;
    padding: 15px 0 15px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    background-color: #F5EFF5;
    font-size: 16px;
    color: #5C245F; }
  .signin__wrapper .signin__email, .signin__wrapper .signin__password {
    margin: 0; }
  .signin__wrapper .signin__title {
    padding-bottom: 20px; }
  .signin__wrapper .signin__button {
    border-radius: 50px;
    padding: 15px 30px;
    background-color: #AA81AC;
    color: white;
    font-size: 20px;
    border: none;
    text-decoration: none;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; }
  .signin__wrapper .signin__button:hover {
    background-color: #47054A; }
