@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SignIn>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}




    <main class="signin">
        <h2 class="signin__title">Sign In</h2>
            <div class="signin__wrapper">
                @Html.Partial("SignIn")
            </div>
        <a class="signup__link" href="/SignUp">Sign Up</a>
        <a class="forgot__link" href="#">Forgot password?</a>
    </main>