@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SignIn>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}




    <main>
        <h2 class="signin__title">Sign In</h2>
        <section class="signin">
            <div class="signin__wrapper">
                @Html.Partial("SignIn")
            </div>
        </section>
        <a href="/SignUp">Sign Up</a>
        <a href="#">Forgot password?</a>
    </main>