@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SignUp>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

    <main class="signin">
        <h2 class="signin__title">Sign Up</h2>
        <div class="signin__wrapper">
            @Html.Partial("SignUp")
        </div>
    </main>

