@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web

    <nav class="wrapper">
        <a href="/">
            <img class="header__logo" src="~/Media/u1uav4ln/logo.png" alt="Logo" />
        </a>
        <ul>
            <li>
                <a href="#">SDK'S</a>
            </li>
            <li>
                <a href="#">Pricing</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a class="nav__link" href="SignIn">Sign In</a>
            </li>
        </ul>
    </nav>